<h1 mat-dialog-title>
  <strong>{{ action }}</strong>
</h1>
<div mat-dialog-content *ngIf="action != 'Delete'; else elseTemplate">
  <mat-form-field>
    <input matInput placeholder="Name" matInput [(ngModel)]="local_data.name" />
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="User" matInput [(ngModel)]="local_data.user" />
  </mat-form-field>

  <mat-form-field>
    <input
      matInput
      placeholder="Description"
      matInput
      [(ngModel)]="local_data.description"
    />
  </mat-form-field>

  <mat-form-field>
    <input
      matInput
      placeholder="Location"
      matInput
      [(ngModel)]="local_data.location"
    />
  </mat-form-field>

  <mat-form-field>
    <input
      matInput
      placeholder="Inventory Number"
      matInput
      [(ngModel)]="local_data.inventoryNumber"
    />
  </mat-form-field>
</div>

<ng-template #elseTemplate>
  Sure to delete <b>{{ local_data.name }}</b
  >?
</ng-template>

<div mat-dialog-actions>
  <button mat-button (click)="doAction()">{{ action }}</button>
  <button mat-button (click)="closeDialog()" mat-flat-button color="warn">
    Cancel
  </button>
</div>
