.red {
  color: red;
}

.green {
  color: green;
}

.orange {
  color: orange;
}

.card-content-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: row wrap;
}

.container {
  max-width: 100%;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.price {
  font-size: x-large;
  font-weight: bold;
  text-align: center;
}


.info-right-container-buttons button {
  margin: 0.2rem;
}

.img-container {
  max-width: 15%;
  width: 15%;
}

.info-right-container{
  max-width: 35%;
  width: 35%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
}

.info-center-container {
  max-width: 50%;
  width: 50%;
}
