@import '~@angular/material/theming';

$custom-typography: mat-typography-config($font-family: '"Old Standard TT"');
@include mat-core($custom-typography);

$primary-scheme: (
  100: #aaa0a0,
  500: #d7cec7,
  700: #644e5b,
  contrast: (
    100: rgba(255,255,255,0.87),
    500: #000,
    700: #ffffff,
  )
);
$accent-scheme: (
  100: #97aabd,
  500: #565656,
  700: #384d60,
  contrast: (
    100: rgba(0,0,0,0.87),
    500: #fff,
    700: #f5f5f5,
  )
);

$warn-scheme: (
  100: #b97582,
  500: #76323f,
  700: #661927,
  contrast: (
    100: rgba(0,0,0,0.87),
    500: #fff,
    700: #f5f5f5,
  )
);
$primary-palette: mat-palette($primary-scheme);
$accent-palette: mat-palette($accent-scheme);
$warn-palette: mat-palette($warn-scheme);

$app-light-theme: mat-light-theme($primary-palette, $accent-palette, $warn-palette);

@include angular-material-theme($app-light-theme);

// following section is for dark mode.
// use appropriate class name for darkMode
$app-dark-theme: mat-dark-theme($primary-palette, $accent-palette);
.darkMode {
  @include angular-material-theme($app-dark-theme);
}
    