<div class="container" *ngIf="popularProducts?.length != 0">
  <h1>Most popular products</h1>
  <mat-nav-list fxLayout="row">
    <div
      mat-list-item
      class="list-item clickable"
      *ngFor="let product of popularProducts"
    >
      <img
        [src]="product.imageLink"
        height="60%"
        width="100%"
        alt="Product image coming soon"
        routerLink="product/{{ product.id }}"
        onerror="this.src='../../assets/images/product-image-placeholder.png';"
      />

      <p>{{ product.name }}</p>
    </div>
  </mat-nav-list>
</div>
