<div>
  <p>
    <b>Id:</b><i>{{ item.id }}</i>
  </p>
  <p>
    <b>Name:</b><i>{{ item.name }}</i>
  </p>
  <p>
    <b>Description:</b><i>{{ item.description }}</i>
  </p>
  <p>
    <b>User:</b><i>{{ item.user }}</i>
  </p>
  <p>
    <b>Location:</b><i>{{ item.location }}</i>
  </p>
  <p>
    <b>Inventory number:</b><i>{{ item.inventoryNumber }}</i>
  </p>
  <p>
    <b>Created at:</b><i>{{ item.createdAt | date }}</i>
  </p>
</div>

<agm-map [latitude]='item.longitude' [longitude]='item.latitude'>
  <agm-marker  [latitude]='item.longitude' [longitude]='item.latitude'></agm-marker>
</agm-map>


