<div class="main-wrapper" fxLayout="row" fxLayoutAlign="center center">
  <mat-card >
    <mat-card-header>
      <mat-card-title>Delivery information</mat-card-title>
    </mat-card-header>

    <mat-card-content class="card-content">
      <form class="form" [formGroup]="payForm">
        <mat-form-field class="full-width">
          <input
            matInput
            placeholder="Full name"
            type="text"
            formControlName="fullname"
            required
          />
        </mat-form-field>

        <mat-form-field class="full-width">
          <input
            matInput
            placeholder="Email@example.com"
            type="text"
            formControlName="email"
            required
          />
        </mat-form-field>

        <mat-form-field class="full-width">
          <input
            matInput
            placeholder="Phone"
            type="text"
            formControlName="phone"
            required
          />
        </mat-form-field>

        <mat-form-field class="full-width">
          <mat-label>Country</mat-label>
          <mat-select formControlName="country">
            <mat-option *ngFor="let country of countries" [value]="country">
              {{ country }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field class="full-width">
          <input
            matInput
            placeholder="County"
            type="text"
            formControlName="county"
            required
          />
        </mat-form-field>

        <mat-form-field class="full-width">
          <input
            matInput
            placeholder="Address"
            type="text"
            formControlName="address"
            required
          />
        </mat-form-field>
      </form>

      <div class="payment-div">
        <mat-radio-group class="full-width" [(ngModel)]="chosenOption" >
          <mat-radio-button
            ngDefaultControl
            *ngFor="let option of paymentOptions"
            [value]="option"                       
          >
            {{ option }}
          </mat-radio-button>
        </mat-radio-group>

        <div [ngSwitch]="chosenOption" class="payment-option">
          <div *ngSwitchCase="'Card'">
            <app-card-payment></app-card-payment>
          </div>
          <div *ngSwitchDefault>You will pay directly to the courier :)</div>
        </div>
      </div>
    </mat-card-content>
    <button
      mat-raised-button
      color="accent"
      class="btn-block"
      [disabled]="!payForm.valid"
      matStepperNext
    >
      Finish
    </button>
  </mat-card>
</div>
