<div>
  <p>
    <b>Id:</b><i>{{ product.id }}</i>
  </p>
  <p>
    <b>Name:</b><i>{{ product.name }}</i>
  </p>
  <p>
    <b>Description:</b><i>{{ product.description }}</i>
  </p>
  <p>
    <b>User:</b><i>{{ product.user }}</i>
  </p>
  <p>
    <b>Location:</b><i>{{ product.location }}</i>
  </p>
  <p>
    <b>Inventory number:</b><i>{{ product.inventoryNumber }}</i>
  </p>
  <p>
    <b>Created at:</b><i>{{ product.createdAt | date }}</i>
  </p>
</div>

<div class="qrCode" *ngIf="productId">
  <qrcode [qrdata]="productId" [size]="256" [level]="'M'"></qrcode>
</div>

<button class="print-button" mat-raised-button (click)="print()">Print</button>
