.sidenav-container {
  height: 100%;
  background-color: #3aafa9;
}

.sidenav {  
  width: 200px;
  background-color: #2b7a78;
  padding: 10px;
}

.toolbar{
  background: inherit;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.nav-list-item {
  border-radius: 10px 10px 10px 10px;
  background-color: #17252a;
  margin-top: 100px;
  font-size: large;
  color: #def2f1;
  height: 100%;
  width: 100%;
}

.nav-logout-button{
  border-radius: 10px 10px 10px 10px;
  background-color: #def2f1; 
  margin-top: 100px;
  font-size: large;
  color: #17252a;
  height: 100%;
  width: 100%;
}

a.nav-list-item mat-icon {
  margin-right: 20px;
}

a:hover,
a:active {
  border-radius: 10px 10px 10px 10px;
  transition: box-shadow 0.5s;
  box-shadow: 0 0 11px rgba(33, 33, 33, 0.2);
}

.nav-list {
  align-items: center;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

@media print{
  .sidenav{
    display: none;
  }
  .sidenav-container{
    background-color: white;
  }
  
}


