.red {
  color: red;
}

.green {
  color: green;
}

.orange {
  color: orange;
}

.price-quantity-container {
  display: flex;
  justify-content: space-between;
  font-size: medium;
}

.price{
 text-decoration: line-through;
 margin-right: 1rem;
} 

.prices{
  display: flex;  
}
