.highlight-category-container{
    display: block;
    width: 100%;
    height: 30rem;

    text-align: center;   
    background-image: url("../../assets/images/watch.jpg");
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center ;
   
}

.highlight-category-container a{
    text-decoration: none;
    width: 100%;
    height: 100%;
    display: flex;
    margin-left: 20%;
    justify-content: start;
    align-items: center;
    font-size: 60px;
    text-shadow: 1px 1px 1px #000;
    color: white;
}

.categories-container{      
       margin: 2rem;
}

.parfumuri{
    width: 100%;
    height: 100%;
    background-image: url("../../assets/images/cologne.jpg");
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center ;
}

.parfumuri a{
    text-decoration: none;
    width: 100%;
    height: 100%;
    display: flex;
    margin-left: 20%;
    justify-content: start;
    align-items: center;
    font-size: 60px;
    color: white;
    text-shadow: 1px 1px 1px #000;
}

.ulei-barba{     
    background-image: url("../../assets/images/beard-oil.jpg");
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: 80% 100%;
    background-position:center ;
}

.ulei-barba a{
    text-decoration: none;
    width: 100%;
    height: 100%;
    display: flex;
    margin-left: 20%;
    justify-content: start;
    align-items: center;
    font-size: 60px;
    color: white;
    text-shadow: 1px 1px 1px #000;
}

.aparat-tuns{  
    text-align: center;   
    background-image: url("../../assets/images/shaver.jpeg");
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: 80% 100%;
    background-position:center ;
}

.aparat-tuns a{
    text-decoration: none;
    width: 100%;
    height: 100%;
    display: flex;
    margin-left: 20%;
    justify-content: start;
    align-items: center;
    font-size: 60px;
    color: white;
    text-shadow: 1px 1px 1px #000;
}

.ceara-par{
    text-align: center;   
    background-image: url("../../assets/images/hair-wax.jpg");
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: 90% 100%;
    background-position:center ;
}

.ceara-par a{
    text-decoration: none;
    width: 100%;
    height: 100%;
    display: flex;
    margin-left: 15%;
    justify-content: start;
    align-items: center;
    font-size: 60px;
    color: white;
    text-shadow: 1px 1px 1px #000;
}

.accesorii{
    text-align: center;   
    background-image: url("../../assets/images/accessories.jpg");
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center ;
}

.accesorii a{
    text-decoration: none;
    width: 100%;
    height: 100%;
    display: flex;
    margin-left: 20%;
    justify-content: start;
    align-items: center;
    font-size: 60px;
    color: white;
    text-shadow: 1px 1px 1px #000;
}

.inspiration-container{  
    margin: 2rem;
}

.inspiration-block{
    font-size: x-large;
    padding: 1rem;
}

.inspiration-block i {
    font-size: xx-large;
}

.pentru-el a{
    text-decoration: none;
    width: 100%;
    height: 100%;
    display: flex;
    margin-left: 20%;
    justify-content: start;
    align-items: center;
    font-size: 60px;
    color: white;
    text-shadow: 1px 1px 1px #000;
}

.pentru-el{
    background-image: url("../../assets/images/him.jpg");
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: cover;
    background-position:top ;
}

.pentru-ea a{
    text-decoration: none;
    width: 100%;
    height: 100%;
    display: flex;
    margin-left: 20%;
    justify-content: start;
    align-items: center;
    font-size: 60px;
    color: white;
    text-shadow: 1px 1px 1px #000;
}

.pentru-ea {
    background-image: url("../../assets/images/her.jpg");
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center ;
}