<section class="container">
  <mat-grid-list cols="2" rowHeight="45%">
    <mat-grid-tile colspan="1" rowspan="2">
      <img
        [src]="product.imageLink"
        class="product-image"
        alt="Product image coming soon"
        routerLink="product/{{ product.id }}"
        onerror="this.src='../../assets/images/product-image-placeholder.png';"
      />
    </mat-grid-tile>

    <mat-grid-tile rowspan="2">
      <section class="product-infos">
        <h1 class="title">{{ product?.name }}</h1>
        <h3 class="brand">Made by {{ product?.brand }}</h3>

        <span [ngSwitch]="true">
          <div *ngSwitchCase="product.priceDeal > 0" class="prices">
            <p class="price">
              {{ product.price | currency: "EUR" }}
            </p>
            <p>{{ product.priceDeal | currency: "EUR" }}</p>
          </div>
          <div *ngSwitchDefault class="prices">
            <p>
              {{ product.price | currency: "EUR" }}
            </p>
          </div>
        </span>

        <p class="description">{{ product?.description }}</p>
        <div class="buttons">
          <button
            mat-raised-button
            color="accent"
            (click)="addToFavoritesButton()"
          >
            Add to favorites
          </button>
          <button mat-raised-button color="accent" (click)="addToCartButton()">
            Add to cart
          </button>
        </div>
      </section>
    </mat-grid-tile>
  </mat-grid-list>
</section>
