<mat-horizontal-stepper class="stepper">
  <mat-step>
    <ng-template matStepLabel>Checkout</ng-template>
    <div class="container">
      <div class="spacer-left"></div>
    
      <div class="products-list">
        <app-cart-item
          *ngFor="let product of products"
          [product]="product"
          (addToFavorites)="addToFavorites($event)"
          (delete)="delete($event)"
        ></app-cart-item>
    
        <div class="price">
          <p>Products: {{ productPrice | currency: "EUR" }}</p>
          <p>Transport: {{ transportPrice | currency: "EUR" }}</p>
          <p>Total: {{ productPrice + transportPrice | currency: "EUR" }}</p>
        </div>
      </div>
      <div class="spacer-right"></div>
      <div class="summary">
        <h1>Delivery summary</h1>
        <p>Products: {{ productPrice | currency: "EUR" }}</p>
        <p>Transport: {{ transportPrice | currency: "EUR" }}</p>
        <mat-divider class="divider"></mat-divider>
        <p class="total">
          Total: {{ productPrice + transportPrice | currency: "EUR" }}
        </p>
        <button mat-raised-button color="accent" class="buyButton" matStepperNext> Next step </button>
      </div>
    </div>
  </mat-step>

  <mat-step >
    <ng-template matStepLabel>Pay</ng-template>
    <app-payment></app-payment>
    
  </mat-step>

  <mat-step>
    <ng-template matStepLabel>Done</ng-template>
    <div class="done-container">
      <p class="done-text">You are done!</p>
      <p>Your order has been placed and will reach you in 2-3 working days. We hope that you enjoyed shopping with us and we are waiting for you to come back anytime.</p>
    </div> 
  </mat-step>
</mat-horizontal-stepper>

