<form [formGroup]="payForm" class="form">
  <mat-form-field>
    <input matInput type="text" placeholder="Card Number" formControlName="cardNumber" />
  </mat-form-field>

  <mat-form-field
    ><input matInput
      type="text"
      placeholder="Card Holder Name"
      formControlName="cardName"
  /></mat-form-field>

  <mat-form-field
    ><input matInput type="text" placeholder="Expiration Date" formControlName="date"
  /></mat-form-field>

  <mat-form-field
    ><input matInput type="text" placeholder="CCV" formControlName="ccv"
  /></mat-form-field>
</form>
