<header class="header-container">
  <nav class="header-nav-container">
    <a routerLink="">LOGO</a>
    <input type="search" placeholder="Whatever the sir wants..." />
    <div class="nav-buttons">
      <div [ngSwitch]="isAuthenticated()">
        <a *ngSwitchCase="true" routerLink="/profile"> Profile </a>

        <a *ngSwitchCase="false" routerLink="/auth"> Sign In </a>
      </div>
      <a routerLink="/cart"> Cart </a>
      <a routerLink="/favorites"> Favorites </a>
    </div>
  </nav>

  <section class="header-links-container">
    <div class="header-links-left">
      <app-categories-menu> </app-categories-menu>
      <a routerLink="/deals"> Deals </a>
    </div>

    <div class="header-links-right">
      <a routerLink="/info"> Info </a>
      <a routerLink="/questions"> Q&A </a>
      <a routerLink="/contact"> Contact </a>
    </div>
  </section>
</header>
