.spacer{
    flex: 1 1 auto;
}

.toolbar{
padding-top: 1rem;
   position: sticky;
   background-color: transparent;   
}

.header-links-left{
    display: flex;
    justify-content: space-around;
    width: 15%;
    font-size: x-large;
}

.header-links-right{
    display: flex;
    justify-content: space-around;
    width: 15%;
}

.up-container{
    display: flex;
    flex-flow: column wrap;
    height: 3rem;
    width: 100%;
    justify-content: space-evenly;
}

.up-container img{
    width: 400px;
    height: 500px;
    cursor: pointer;
}

.down-container{
    display: flex;
    flex-flow: row wrap;
    height: 3rem;   
    justify-content: space-evenly;
}

.auth-cart-fav-buttons{
    display: flex;
}

.auth-cart-fav-buttons a{
    font-size: large;
    margin: 1rem;
}

.img-container{  
    object-fit:contain;
}